/*Importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    /*Aplicando fonte na pag toda, tirando a margem e o padding*/
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*Formatação*/
#logo{
    width: 200px;
    cursor: pointer;
}

/*Formatação*/
nav{
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Formatação*/
.box-pesquisa{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.81);
    padding: 5px 20px 5px 20px;
    width: 350px;
    height: 25px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
}

/*Formatação*/
.box-pesquisa input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

/*Formatação*/
.box-login{
    font-size: 13px;
    cursor: pointer;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #0474bc;
    border: none;
    color: aliceblue;
}

/*Efeito passar o mouse encima*/
.box-login:hover{
    background-color: transparent;
    border: 1px solid #0474bc;
    color: #0474bc;
}

/*Formatação*/
#box-carrinho i{
    color: #0474bc;
    font-size: 25px;
}

/*Formatação*/
#box-carrinho{
    cursor: pointer;
    justify-content: center;
    align-items: center ;
    gap:15px;
    display: flex;
}

/*Formatação*/
#box-carrinho:hover{
    color: #0474bc;
}

/*Formatação*/
nav ul{
    cursor: pointer;
    list-style: none;
    gap: 50px;
    display: flex;
    align-items: center;
}

/*Efeito passar o mouse encima*/
li:hover{
    color: #0474bc;
}

/*Formatação*/
#tds-categorias{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #0474bc;
    padding: 10px;
    color: aliceblue;
    border-radius: 20px;
    font-size: 13px;
}

/*Efeito passar o mouse encima*/
#tds-categorias:hover{
    background-color: transparent;
    border: 1px solid #0474bc;
    color: #0474bc;
}

/*Formatação*/
.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

/*Formatação*/
.slides{
    width: 400%;
    height: auto;
    display: flex;
}

/*Formatação*/
.slides input{
    display: none;
}

/*Formatação*/
.slide{
    position: relative;
    width: 25%;
    height: auto;
    transition: 1s;
}

/*Formatação*/
.slide img {
    width: 100%;
}

/*Formatação*/
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top:29%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*Formatação*/
.manual-btn, .nav-auto div{
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

/*Efeito passar o mouse encima*/
.manual-btn:hover{
    background-color: #ffffff;
}

/*Colocando a Cor azul no input que está selecionado. se o input radio ta selecionado musar o background para azul*/
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #0474bc;
}

/*Como os slides tem 400% de width, 0% é o primeiro slide, 25% é 1/4 de 400, logo é 100%, então mostra o segundo slide, e assim por diante, de 25 em 25 pq são 4 slides. Essa parte é responsável pela nav manual, na qual controla qual o slide vai aparecer na tela, como se fosse um if, if radio 1: imagem 1.*/
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}


/*Formatação*/
#categorias{
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    display: none; /*O display vem none por padrão, ai quando a pessoa passar o dedo encima do "todas as categorias", vai ser chamada uma função no js, na qual vai mudar o display pra "flex". */
    justify-content: space-evenly;
    transition: 1s;

}

/*Formatação*/
#nav-categorias{
    flex-direction: column;
}

/*Formatação*/
#categorias ul{
    display: inline;
}




